.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px;
  padding: 32px;
  max-width: 1200px;
  margin: 0 auto;
}

.filter-container{
    padding: 2px
}