
<div class="sidebar">

    <h1>EasyTravel</h1>

    <div class="sidebar-highlight d-flex align-items-center">

      <div class="highlight-bar me-2"></div>
      <h3 class="mb-0">Funcionário</h3>
    </div>

    <div class="sidebar-links">
      <a href="">
        <i class="bi bi-table"></i>
        <span class="sidebar-icon placeholder-icon"></span>
        Dashboard
      </a>
      <a href="">
        <i class="bi bi-airplane-fill"></i>
        <span class="sidebar-icon placeholder-icon"></span>
        Pacotes
      </a>
      <a href="">
        <i class="bi bi-person"></i>
        <span class="sidebar-icon placeholder-icon"></span>
        Clientes/Usuários
      </a>
      <a href="">
        <i class="bi bi-star-fill"></i>
        <span class="sidebar-icon placeholder-icon"></span>
        Avaliações
      </a>
    </div>
</div>
